body {
  font-family: "Spartan", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: minmax(425px, auto);
  grid-template-areas:
    "display display display mainContent mainContent"
    "darkImage about about about lightImage";
}

.main-section-display {
  grid-area: display;
  background: url(../images/desktop-image-hero-1.jpg) no-repeat center/cover;

  //   NavBar
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 40px 40px;

    .hamburger {
      display: none;
    }

    .nav-link-container {
      display: flex;
      list-style: none;

      .navlinks {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        line-height: 1rem;
        color: rgb(240, 236, 236);

        &:hover {
          cursor: pointer;
          span {
            background-color: #fff;
            width: 20px;
            height: 2px;
            margin: 5px auto;
          }
        }
      }
    }
  }
}

.main-section-content {
  grid-area: mainContent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  .content-one,
  .content-two,
  .content-three {
    margin: 0 90px;

    h3 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      line-height: 2.5rem;
    }

    p {
      color: grey;
      font-size: 0.9rem;
      opacity: 0.9;
      margin-bottom: 20px;
    }
    a {
      text-decoration: none;
      color: #000;
      span {
        letter-spacing: 10px;
        font-size: 0.8rem;
        margin-right: 20px;
        line-height: 2rem;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
  .navigator {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;

    button {
      padding: 20px 20px;
      width: 85px;
      border: none;
      background-color: #000;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }

      img {
        opacity: 0.7;
      }
    }
  }
}

.display-image-dark {
  grid-area: darkImage;
}
.about {
  grid-area: about;
  padding: 60px 40px;

  h4 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.8rem;
    margin-bottom: 20px;
  }
  p {
    color: grey;
    opacity: 0.8;
    font-size: 0.9rem;
  }
}
.display-image-light {
  grid-area: lightImage;
}

@media screen and (max-width: 670px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "display"
      "mainContent"
      "darkImage" "about" "lightImage";
  }

  .main-section-display {
    grid-area: display;
    background: url(../images/mobile-image-hero-1.jpg) no-repeat center/cover;

    .navbar {
      width: 100%;
      justify-content: space-between;
      .hamburger {
        display: block;
      }

      .hide-logo {
        display: none;
      }

      .logo {
        margin-right: 120px;
      }
      .nav-link-container {
        display: none;
        .navlinks {
          color: #000;
        }
      }

      .show-menu {
        background-color: #fff;
        height: 100px;
        margin: 0;
        padding: 40px 30px;

        .nav-link-container {
          display: block;
        }
      }
    }
  }

  .main-section-content {
    position: static;

    .content-one,
    .content-two,
    .content-three {
      margin: 50px 30px;
    }

    .navigator {
      bottom: 218px;
      left: 270px;
    }
  }

  .display-image-dark {
    img {
      min-width: 440px;
      max-width: 100%;
    }
  }
}
